<footer class="bg-body-tertiary py-4">
    <div class="container">
        <div class="d-flex align-items-center flex-column">
            <span class="mb-3">&copy; 2023 - Seformer</span>
            <div>
                <a class="px-2 fs-4" href="#"><i class="bi bi-facebook"></i></a>
                <a class="px-2 fs-4" href="#"><i class="bi bi-instagram"></i></a>
                <a class="px-2 fs-4" href="#"><i class="bi bi-whatsapp"></i></a>
            </div>
        </div>
    </div>
</footer>