{% extends "template.html" %}
{% load static %}

{% block main_content %}

<!-- SCROLLSPY -->
<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-2 d-none d-lg-block">
      <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-2 border-end">
        <nav class="nav nav-pills flex-column">
          <a class="nav-link" href="#item-1">Acerca de Seformer</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" href="#item-1-1">Misión</a>
            <a class="nav-link ms-3 my-1" href="#item-1-2">Visión</a>
            <a class="nav-link ms-3 my-1" href="#item-1-3">Principios</a>
          </nav>
          <a class="nav-link" href="#item-2">Nuestros Docentes</a>
          <a class="nav-link" href="#item-3">Metodología de Apredizaje</a>
          <a class="nav-link" href="#item-4">¿A quién va Dirigido?</a>
        </nav>
      </nav>
    </div>

    <div class="col-12 col-lg-8 px-5 px-md-4">
      <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true"
        class="scrollspy-example-2" tabindex="0">

        <!-- ACERCA DE SEFORMER -->
        <div id="item-1">
          <h4>ACERCA DE SEFORMER</h4>
          <p class="text-justify">El propósito de este centro es ofrecer tanto modalidades presenciales como no
            presenciales para facilitar el acceso a la enseñanza técnica y tecnológica a todas las personas que desean
            cursar dichos programas, independientemente de sus circunstancias personales, laborales, residenciales u
            otras.</p>
          <p> En la actualidad Seformer cuenta con atención personalizada, enfocados en una metodología práctica –
            lúdica y con alto sentido de responsabilidad hacia sus estudiantes.</p>
        </div>

        <hr>

        <!-- MISIÓN -->
        <div id="item-1-1" class="my-4">
          <h5>Misión</h5>
          <p class="text-justify"> Brindar oportunidades de capacitación y actualización a la sociedad, permitiendo el
            mejoramiento de las condiciones de vida a nivel personal, familiar, profesional y comunitario. A su vez
            promover la productividad y competitividad de las organizaciones.</p>
        </div>

        <!-- VISIÓN -->
        <div id="item-1-2" class="my-4">
          <h5>Visión</h5>
          <p class="text-justify">Ser un Centro de capacitación continúo reconocido por la comunidad a nivel nacional e
            internacional que genere soluciones y mejores condiciones de vida de los habitantes.</p>
        </div>

        <!-- PRINCIPIOS -->
        <div id="item-1-3" class="my-4">
          <h5>Principios</h5>
          <ul>
            <li>
              <span class="fw-semibold">Igualdad de Oportunidades:</span>
              <p class="text-justify">Garantizar a las personas que tengan los mismos derechos y posibilidades de
                acceso, permanencia, movilidad y egreso.</p>
            </li>
            <li>
              <span class="fw-semibold">Autonomía responsable:</span>
              <p class="text-justify">Cumplimiento de su misión y visión organizacional.</p>
            </li>
            <li>
              <span class="fw-semibold">Calidad:</span>
              <p class="text-justify">Innovación en sus actividades y programas académicos a fin de asegurar el
                mejoramiento continuo en todos sus niveles de formación, educación continúa, capacitación e
                investigación.</p>
            </li>
          </ul>
        </div>

        <!-- NUESTROS DOCENTES -->
        <div id="item-2" class="my-4">
          <h4>Nuestros Docentes</h4>
          <div id="carouselExample" class="carousel slide mt-4" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="card-docentes">
                  <div class="card-docentes-img">
                    <img class="img-fluid" src="{% static 'img/imagen1.png' %}" alt="">
                  </div>
                  <div class="card-docentes-body">
                    <h6>Elsa Patricia Loor Saénz</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nulla
                      ratione distinctio pariatur amet tempora odio excepturi voluptas quidem corrupti.</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card-docentes">
                  <div class="card-docentes-img">
                    <img class="img-fluid" src="{% static 'img/imagen2.png' %}" alt="">
                  </div>
                  <div class="card-docentes-body">
                    <h6>Bob Esponja Paz Suárez</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nulla
                      ratione distinctio pariatur amet tempora odio excepturi voluptas quidem corrupti.</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card-docentes">
                  <div class="card-docentes-img">
                    <img class="img-fluid" src="{% static 'img/imagen3.png' %}" alt="">
                  </div>
                  <div class="card-docentes-body">
                    <h6>Laura Micaela Flor Bustos</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nulla
                      ratione distinctio pariatur amet tempora odio excepturi voluptas quidem corrupti.</p>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon bg-info" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon bg-info" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <!-- METODOLOGÍA DE APRENDIZAJE -->
        <div id="item-3" class="my-4">
          <h4>Metodología de Apredizaje</h4>
          <p class="text-justify">Nuestros cursos y talleres están diseñados para fomentar el aprendizaje activo y
            participativo bajo la normativa del trabajo cooperativa - participativo.</p>
        </div>

        <!-- A QUIÉN VA DIRIGIDO -->
        <div id="item-4" class="mt-4">
          <h4>¿A quién va Dirigido?</h4>
          <p class="text-justify">Este programa está diseñado a todas aquellas personas que deseen formarse dentro
            del ámbito de Terapias Alternativas.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}