{% extends "template.html" %}
{% load static %}

{% block main_content %}
<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-2 d-none d-lg-block">
      <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-2 border-end">
        <nav class="nav nav-pills flex-column">
          <a class="nav-link" href="#item-1">Acerca de Seformer</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" href="#item-1-1">Mision</a>
            <a class="nav-link ms-3 my-1" href="#item-1-2">Vision</a>
            <a class="nav-link ms-3 my-1" href="#item-1-3">Principios</a>
          </nav>
          <a class="nav-link" href="#item-2">Nuestros Docentes</a>
          <a class="nav-link" href="#item-3">Metodología de Apredizaje</a>
          <a class="nav-link" href="#item-4">¿A quién va Dirigido?</a>
        </nav>
      </nav>
    </div>

    <div class="col-12 col-lg-8">
      <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true"
        class="scrollspy-example-2" tabindex="0">
        <div id="item-1">
          <h4>Acerca de Seformer</h4>
          <p>El propósito de este centro es ofrecer tanto modalidades presenciales como no presenciales para facilitar
            el
            acceso a la enseñanza técnica y tecnológica a todas las personas que desean cursar dichos programas,
            independientemente
            de sus circunstancias personales, laborales, residenciales u otras.
            En la actualidad Seformer cuenta con atención personalizada, enfocados en una metodología práctica – lúdica
            y con alto
            sentido de responsabilidad hacia sus estudiantes.</p>
        </div>
        <div id="item-1-1">
          <h5>Mision</h5>
          <p> Brindar oportunidades de capacitación y actualización a la sociedad, permitiendo el mejoramiento de las
            condiciones de vida
            a nivel personal, familiar, profesional y comunitario. A su vez promover la productividad y competitividad
            de las organizaciones.</p>
        </div>
        <div id="item-1-2">
          <h5>Visión</h5>
          <p>Ser un Centro de capacitación continúo reconocido por la comunidad a nivel nacional e internacional que
            genere soluciones y
            mejores condiciones de vida de los habitantes.</p>
        </div>
        <div id="item-1-3">
          <h5>Principios</h5>
          <ul>
            <li>
              <span class="fw-semibold">Igualdad de Oportunidades:</span>
              <p>Garantizar a las personas que tengan los mismos derechos y posibilidades de acceso, permanencia,
                movilidad y egreso.</p>
            </li>
            <li>
              <span class="fw-semibold">Autonomía responsables:</span>
              <p>Cumplimiento de su misión y visión organizacional.</p>
            </li>
            <li>
              <span class="fw-semibold">Calidad: </span>
              <p>Innovación en sus actividades y programas académicos a fin de asegurar el mejoramiento continuo en
                todos sus niveles de formación, educación continúa, capacitación e investigación.</p>
            </li>
          </ul>
        </div>
        <div id="item-2">
          <h4>Nuestros Docentes</h4>
          <div style="padding: 20px;"></div>
        </div>
        <div id="item-3">
          <h4>Metodología de Apredizaje</h4>
          <p>Nuestros cursos y talleres están diseñados para fomentar el aprendizaje activo y participativo bajo la
            normativa del trabajo cooperativa - participativo</p>
        </div>
        <div id="item-4">
          <h4>¿A quién va Dirigido?</h4>
          <p>Este programa está diseñado a todas aquellas personas que deseen formarse dentro del ámbito de Terapias
            Alternativas</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}